hashlink-*/
node_modules/
debugger/out/
debugger/args.txt
debugger/debug.hl
debugger/package-lock.json
debugger/*.map
hldebug-wrapper/build
vsce_token.txt
package-lock.json
hldebug
*.gz
*.js
*.js.map
*.vsix
